# Write alaska dataset to excel

## Load the data

In [1]:
root_dir = '../..'
src_dir = 'src'
data_dir = 'data/corpus'

In [2]:
import os
import sys

In [3]:
sys.path.append(os.path.join(root_dir, src_dir))

In [4]:
from training import TrainingCorpus

In [5]:
alaska_dataset_filename = 'alaska_corpus_noisy.json'
alaska_chunks_filename = 'alaska_chunks_noisy.json'

In [6]:
alaska_corpus = TrainingCorpus()
alaska_corpus.load(os.path.join(root_dir, data_dir, alaska_dataset_filename))
alaska_corpus.load_chunks(os.path.join(root_dir, data_dir, alaska_chunks_filename))

In [7]:
alaska_corpus.get_text(0)

'nikon d3200 dslr camera with 18 55mm and 55 200mm lenses black | ebay'

In [8]:
alaska_corpus.get_tokens(0)

['nikon',
 'd3200',
 'dslr',
 'camera',
 '18',
 '55mm',
 '55',
 '200mm',
 'lenses',
 'black',
 'ebay']

In [9]:
alaska_corpus.get_chunk_document(0, threshold=0)

['nikon_d3200_dslr_camera', '18_55mm', '55_200mm_lenses', 'black_ebay']

---

## Build a DataFrame

In [10]:
import pandas as pd

In [11]:
alaska_df =pd.DataFrame([{'doc_id': doc_id,
                          'chunk_doc': ' '.join(alaska_corpus.get_chunk_document(doc_id, threshold=0)),
                          'label': alaska_corpus.target[doc_id][0]} for doc_id in alaska_corpus.docs])

In [12]:
alaska_df.head()

   doc_id                                          chunk_doc      label
0       0  nikon_d3200_dslr_camera 18_55mm 55_200mm_lense...  ENTITY#44
1       1  nikon_d3200 18-55/3 5-5 6 55-200/4 0-5 6 new_z...  ENTITY#44
2       2  nikon_d3200 digital_dslr_camera w 18 55mm 55 2...  ENTITY#44
3       3  nikon_d3200_digital_dslr_camera 24 1 w 18 55mm...  ENTITY#44
4       4  nikon_d3200 body_price india bangalore hyderab...  ENTITY#44

---

## Write to excel

In [13]:
filename = 'alaska_corpus_noisy.xlsx'

In [14]:
alaska_df.to_excel(os.path.join(root_dir, data_dir, filename))

---