# Process terms 
Process terms retrieved from the neural network model using `LIME`

---

## Load the retrieved terms

In [1]:
import os

In [2]:
root_dir = '../..'
data_dir = 'data/terms'
filename = 'relevant_terms_alaska_nn.csv'
filepath = os.path.join(root_dir, data_dir, filename)

In [3]:
import pandas as pd

In [4]:
terms_df = pd.read_csv(filepath)

In [5]:
terms_df.head()

       label                     term    weight  data_id
0  ENTITY#44  nikon_d3200_dslr_camera  0.563572        0
1  ENTITY#44                  18_55mm  0.265820        0
2  ENTITY#44          55_200mm_lenses  0.175857        0
3  ENTITY#44               black_ebay  0.129290        0
4  ENTITY#44              nikon_d3200  0.812544        1

---

## Rank terms

### Split noun chunks into single terms

In [6]:
def split_noun_chunks(input_df):
    df_data = []
    
    for _, row in input_df.iterrows():
        noun_chunk = row['term']

        for term in noun_chunk.split('_'):
            data_dict = {'label': row['label'], 
                         'term': term, 
                         'weight': row['weight'], 
                         'data_id': row['data_id']}
            df_data.append(data_dict)
    
    return pd.DataFrame(df_data)

In [7]:
terms_df = split_noun_chunks(terms_df)

In [8]:
terms_df.head(10)

       label    term    weight  data_id
0  ENTITY#44   nikon  0.563572        0
1  ENTITY#44   d3200  0.563572        0
2  ENTITY#44    dslr  0.563572        0
3  ENTITY#44  camera  0.563572        0
4  ENTITY#44      18  0.265820        0
5  ENTITY#44    55mm  0.265820        0
6  ENTITY#44      55  0.175857        0
7  ENTITY#44   200mm  0.175857        0
8  ENTITY#44  lenses  0.175857        0
9  ENTITY#44   black  0.129290        0

### Aggregate (sum) LIME weights for each term

In [9]:
terms_stats_df = terms_df.groupby(['label', 'term']).agg({'weight': 'sum'}).reset_index()

In [10]:
terms_stats_df.head()

        label      term    weight
0  ENTITY#101   16-35mm  0.724391
1  ENTITY#101   17-40mm  0.676306
2  ENTITY#101         2  0.055329
3  ENTITY#101        22  5.230077
4  ENTITY#101  24-105mm  0.724367

### Sort terms
Rank terms by total weight (descending)

In [11]:
ranking_df = terms_stats_df.groupby('label')\
                .apply(lambda grp: grp.sort_values(by='weight', ascending=False))\
                .reset_index(drop=True)

In [12]:
ranking_df.groupby('label').head(3)

           label     term      weight
0     ENTITY#101       5d   96.933690
1     ENTITY#101     mark   93.036158
2     ENTITY#101      iii   88.471847
50    ENTITY#102       5d   63.397395
51    ENTITY#102    canon   61.651098
52    ENTITY#102      eos   55.676296
101    ENTITY#16      d90   83.321507
102    ENTITY#16    nikon   82.346056
103    ENTITY#16   camera   20.047362
163    ENTITY#18    canon  120.404014
164    ENTITY#18      60d  107.265348
165    ENTITY#18      eos  106.102112
243    ENTITY#19    d3300   44.892108
244    ENTITY#19    nikon   42.904087
245    ENTITY#19   camera   17.887584
339    ENTITY#21    d5100   76.929881
340    ENTITY#21    nikon   54.453940
341    ENTITY#21   camera   33.805586
445    ENTITY#23       7d  166.897677
446    ENTITY#23    canon  149.756748
447    ENTITY#23      eos  144.130046
506    ENTITY#36    d3100   79.202322
507    ENTITY#36    nikon   76.874840
508    ENTITY#36   camera   58.161480
616    ENTITY#37      d80   48.835221
617    ENTITY#37    nikon   48.700405
618    ENTITY#37   camera   17.072802
667    ENTITY#41    d5200   99.020475
668    ENTITY#41    nikon   88.498027
669    ENTITY#41   camera   48.299833
767    ENTITY#44    d3200  109.311469
768    ENTITY#44    nikon   83.118989
769    ENTITY#44   camera   40.949975
894    ENTITY#57     d800   54.187886
895    ENTITY#57    nikon   47.181758
896    ENTITY#57   camera   20.911940
954    ENTITY#58       j1   42.357733
955    ENTITY#58        1   28.152220
956    ENTITY#58    nikon   13.960149
1023    ENTITY#6    d5300   79.516747
1024    ENTITY#6    nikon   76.001421
1025    ENTITY#6   camera   37.872451
1151    ENTITY#7  olympus   34.875893
1152    ENTITY#7     om-d   16.527350
1153    ENTITY#7       om   14.650134
1228   ENTITY#75    d7000   60.828743
1229   ENTITY#75    nikon   32.002905
1230   ENTITY#75   camera   26.298103
1407   ENTITY#76     d610   48.023933
1408   ENTITY#76    nikon   31.377943
1409   ENTITY#76  digital   30.139236
1488    ENTITY#8       j3   39.392156
1489    ENTITY#8        1   30.712742
1490    ENTITY#8   camera   18.150235
1539   ENTITY#84     d300   47.925283
1540   ENTITY#84    nikon   46.926917
1541   ENTITY#84   camera   10.326472
1580   ENTITY#96    canon   82.011505
1581   ENTITY#96      eos   77.613733
1582   ENTITY#96      70d   73.418477

---

## Save ranking

In [13]:
ranking_filename = 'ranking_alaska_nn_single_terms.xlsx'
ranking_filepath = os.path.join(root_dir, data_dir, ranking_filename)

In [14]:
ranking_filepath

'../../data/terms/ranking_alaska_nn_single_terms.xlsx'

In [15]:
ranking_df.to_excel(ranking_filepath)

---