# Process terms 
Process terms retrieved from the neural network model using `LIME`

## Load the retrieved terms

In [1]:
import os

In [2]:
root_dir = '../..'
data_dir = 'data/terms'
filename = 'relevant_terms_alaska_nn_noisy.csv'
filepath = os.path.join(root_dir, data_dir, filename)

In [3]:
import pandas as pd

In [4]:
terms_df = pd.read_csv(filepath)

In [5]:
terms_df.head()

       label                     term    weight  data_id
0  ENTITY#44  nikon_d3200_dslr_camera  0.368663        0
1  ENTITY#44          55_200mm_lenses  0.218637        0
2  ENTITY#44               black_ebay  0.171967        0
3  ENTITY#44                  18_55mm  0.112081        0
4  ENTITY#44              nikon_d3200  0.515836        1

---

## Rank terms

### Aggregate (sum) LIME weights for each term

In [6]:
terms_stats_df = terms_df.groupby(['label', 'term']).agg({'weight': 'sum'}).reset_index()

In [7]:
terms_stats_df.head()

        label                                         term     weight
0  ENTITY#101                             22_3_mp_dslr_kit   0.130257
1  ENTITY#101                                           5d   1.146376
2  ENTITY#101                                      5d_mark   9.793319
3  ENTITY#101                                  5d_mark_iii  37.501637
4  ENTITY#101  5d_mark_iii_black_slr_digital_camera_kit_w/   1.635001

### Sort terms
Rank terms by total weight (descending)

In [8]:
ranking_df = terms_stats_df.groupby('label')\
                .apply(lambda grp: grp.sort_values(by='weight', ascending=False))\
                .reset_index(drop=True)

In [9]:
ranking_df.groupby('label').head(3)

           label                                     term      weight
0     ENTITY#101                              5d_mark_iii   37.501637
1     ENTITY#101                                  5d_mark    9.793319
2     ENTITY#101                                canon_eos    9.270045
50     ENTITY#16                                nikon_d90   59.187000
51     ENTITY#16                         nikon_d90_camera    1.894752
52     ENTITY#16   nikon_d90_dx_12_3mp_digital_slr_camera    1.866237
84     ENTITY#18                            canon_eos_60d   51.488703
85     ENTITY#18                               nikon_d300   32.064259
86     ENTITY#18                                    canon   12.011575
261    ENTITY#23                             canon_eos_7d  100.059516
262    ENTITY#23                                     1_j3   24.763961
263    ENTITY#23                                       7d    9.055000
350    ENTITY#36                              nikon_d3100   27.143691
351    ENTITY#36     14_2_mp_digital_slr_camera_black_kit    9.149005
352    ENTITY#36           nikon_d3100_digital_slr_camera    5.741861
522    ENTITY#37                                nikon_d80   31.683654
523    ENTITY#37    10_2_mp_digital_slr_camera_black_body    3.710303
524    ENTITY#37  nikon_d80_10_2mp_digital_slr_camera_kit    2.734983
571    ENTITY#41                                    nikon   33.316347
572    ENTITY#41                                       16   25.346444
573    ENTITY#41                                    d7000   21.352936
930    ENTITY#44                                       ii   32.577837
931    ENTITY#44                                    d3200   29.243672
932    ENTITY#44                                     mark   22.283323
1323   ENTITY#57                               nikon_d800   26.589743
1324   ENTITY#57    36_3_mp_digital_slr_camera_black_body    8.813625
1325   ENTITY#57                                     d800    6.159033
1390    ENTITY#6                              nikon_d5300   17.193437
1391    ENTITY#6                          nikon_d5300_kit    8.053590
1392    ENTITY#6     nikon_d5300_digital_slr_camera_black    6.483248
1567   ENTITY#76                                       j1   22.722425
1568   ENTITY#76                              nikon_d3300   17.045597
1569   ENTITY#76                                     d610   12.707590
1802   ENTITY#96                                    canon   13.587850
1803   ENTITY#96                                      eos   13.584414
1804   ENTITY#96                            canon_eos_70d   13.518993

---

## Save ranking

In [10]:
ranking_filename = 'ranking_alaska_nn_noisy.xlsx'
ranking_filepath = os.path.join(root_dir, data_dir, ranking_filename)

In [11]:
ranking_filepath

'../../data/terms/ranking_alaska_nn_noisy.xlsx'

In [12]:
ranking_df.to_excel(ranking_filepath)

---