# Process terms 
Process terms retrieved from the neural network model using `LIME`

## Load the retrieved terms

In [1]:
import os

In [2]:
root_dir = '../..'
data_dir = 'data/terms'
filename = 'relevant_terms_alaska_bert_noisy.csv'
filepath = os.path.join(root_dir, data_dir, filename)

In [3]:
import pandas as pd

In [4]:
terms_df = pd.read_csv(filepath)

In [5]:
terms_df.head()

       label                     term    weight  data_id
0  ENTITY#44  nikon_d3200_dslr_camera  0.554292        0
1  ENTITY#44              nikon_d3200  0.220909        1
2  ENTITY#44                 55-200/4  0.031260        1
3  ENTITY#44       new_zealand_prices  0.026744        1
4  ENTITY#44              nikon_d3200  0.306589        2

---

## Rank terms

### Aggregate (sum) LIME weights for each term

In [6]:
terms_stats_df = terms_df.groupby(['label', 'term']).agg({'weight': 'sum'}).reset_index()

In [7]:
terms_stats_df.head()

        label                 term    weight
0  ENTITY#101                    3  0.148783
1  ENTITY#101               3_ebay  0.136557
2  ENTITY#101  3_lens_kit_usa_ebay  0.073260
3  ENTITY#101      5_mark_iii_body  0.316636
4  ENTITY#101                   5d  0.258670

### Sort terms
Rank terms by total weight (descending)

In [8]:
ranking_df = terms_stats_df.groupby('label')\
                .apply(lambda grp: grp.sort_values(by='weight', ascending=False))\
                .reset_index(drop=True)

In [9]:
ranking_df.groupby('label').head(3)

          label                                         term     weight
0    ENTITY#101                                  5d_mark_iii  36.710231
1    ENTITY#101                                      5d_mark  10.632592
2    ENTITY#101     canon_eos_5d_mark_iii_22_3_mp_full_frame   3.788720
56    ENTITY#16                                    nikon_d90  58.969765
57    ENTITY#16                             nikon_d90_camera   1.917338
58    ENTITY#16                        nikon_d90_camera_body   1.907971
91    ENTITY#18                                canon_eos_60d  51.833088
92    ENTITY#18                                          60d  46.676556
93    ENTITY#18                                   nikon_d300  37.805272
155   ENTITY#23                                 canon_eos_7d  98.118591
156   ENTITY#23                                         1_j3  27.195310
157   ENTITY#23  nikon_j3_interchangable_lens_digital_camera   7.551846
238   ENTITY#36                                  nikon_d3100  70.083246
239   ENTITY#36                                        d3100  20.820344
240   ENTITY#36                      nikon_d3100_dslr_camera   6.202430
277   ENTITY#37                                    nikon_d80  38.657440
278   ENTITY#37      nikon_d80_10_2mp_digital_slr_camera_kit   2.665474
279   ENTITY#37                        nikon_d80_digital_slr   0.894783
293   ENTITY#41                                        d7000  69.723750
294   ENTITY#41                                        d5100  64.825214
295   ENTITY#41                                        d5200  25.273952
453   ENTITY#44                                        d3200  57.291353
454   ENTITY#44                                         mark  48.015016
455   ENTITY#44                                           ii  26.556474
706   ENTITY#57                                   nikon_d800  45.124069
707   ENTITY#57                                         d800   8.487529
708   ENTITY#57           nikon_d800_digital_slr_camera_body   3.412675
729    ENTITY#6                                  nikon_d5300  19.972881
730    ENTITY#6                              nikon_d5300_kit  13.210496
731    ENTITY#6                      nikon_d5300_dslr_camera   7.331932
797   ENTITY#76                                           j1  27.875987
798   ENTITY#76                                         d610  21.231398
799   ENTITY#76                                  nikon_d3300  18.161218
924   ENTITY#96                                          70d  28.604230
925   ENTITY#96                                canon_eos_70d  14.103025
926   ENTITY#96                    canon_eos_70d_dslr_camera  11.515661

---

## Save ranking

In [10]:
ranking_filename = 'ranking_alaska_bert_noisy.xlsx'
ranking_filepath = os.path.join(root_dir, data_dir, ranking_filename)

In [11]:
ranking_filepath

'../../data/terms/ranking_alaska_bert_noisy.xlsx'

In [12]:
ranking_df.to_excel(ranking_filepath)

---