# Process terms 
Process terms retrieved from the neural network model using `LIME`

## Load the retrieved terms

In [1]:
import os

In [2]:
root_dir = '../..'
data_dir = 'data/terms'
filename = 'relevant_terms_alaska_bert.csv'
filepath = os.path.join(root_dir, data_dir, filename)

In [3]:
import pandas as pd

In [4]:
terms_df = pd.read_csv(filepath)

In [5]:
terms_df.head()

       label                             term    weight  data_id
0  ENTITY#44          nikon_d3200_dslr_camera  0.865474        0
1  ENTITY#44                      nikon_d3200  0.846243        1
2  ENTITY#44                      nikon_d3200  0.746039        2
3  ENTITY#44              digital_dslr_camera  0.032710        2
4  ENTITY#44  nikon_d3200_digital_dslr_camera  0.819439        3

---

## Rank terms

### Aggregate (sum) LIME weights for each term

In [6]:
terms_stats_df = terms_df.groupby(['label', 'term']).agg({'weight': 'sum'}).reset_index()

In [7]:
terms_stats_df.head()

        label              term    weight
0  ENTITY#101  22_3_mp_dslr_kit  0.066615
1  ENTITY#101      22_3mp_brand  0.069255
2  ENTITY#101           24-70/2  0.265517
3  ENTITY#101       2_batteries  0.105569
4  ENTITY#101                 3  0.268691

### Sort terms
Rank terms by total weight (descending)

In [8]:
ranking_df = terms_stats_df.groupby('label')\
                .apply(lambda grp: grp.sort_values(by='weight', ascending=False))\
                .reset_index(drop=True)

In [9]:
ranking_df.groupby('label').head(3)

          label                                         term     weight
0    ENTITY#101                                  5d_mark_iii  34.716910
1    ENTITY#101                                      5d_mark   7.262597
2    ENTITY#101     canon_eos_5d_mark_iii_22_3_mp_full_frame   3.797256
66   ENTITY#102                                           ii  59.270775
67   ENTITY#102                                         mark  15.274917
68   ENTITY#102                                 canon_eos_5d  13.672352
94    ENTITY#16                                    nikon_d90  58.398859
95    ENTITY#16                        nikon_d90_camera_body   1.922653
96    ENTITY#16                             nikon_d90_camera   1.911761
125   ENTITY#18                                canon_eos_60d  49.905520
126   ENTITY#18                                          60d  40.126328
127   ENTITY#18         canon_eos_60d_digital_slr_essentials   5.232447
184   ENTITY#19                                  nikon_d3300  19.854716
185   ENTITY#19                                        d3300  10.295225
186   ENTITY#19                              nikon_d3300_kit   6.799774
216   ENTITY#21                                        d5100  70.571714
217   ENTITY#21                                  nikon_d5100  12.926058
218   ENTITY#21               nikon_d5100_digital_slr_camera   4.335856
256   ENTITY#23                                 canon_eos_7d  92.373654
257   ENTITY#23                                           7d   9.051864
258   ENTITY#23              canon_eos_7d_digital_slr_camera   5.300504
313   ENTITY#36                                  nikon_d3100  51.899713
314   ENTITY#36                                        d3100  15.350051
315   ENTITY#36               nikon_d3100_digital_slr_camera   5.357366
407   ENTITY#37                                    nikon_d80  38.895334
408   ENTITY#37      nikon_d80_10_2mp_digital_slr_camera_kit   2.781959
409   ENTITY#37           nikon_d80_digital_slr_camera_black   0.947008
421   ENTITY#41                                        d5200  28.432478
422   ENTITY#41                                  nikon_d5200  19.834680
423   ENTITY#41               nikon_d5200_digital_slr_camera   8.464365
476   ENTITY#44                                        d3200  62.288879
477   ENTITY#44                                  nikon_d3200  30.472954
478   ENTITY#44               nikon_d3200_digital_slr_camera   5.124020
550   ENTITY#57                                   nikon_d800  42.024807
551   ENTITY#57                                         d800   9.027796
552   ENTITY#57           nikon_d800_digital_slr_camera_body   3.221082
570   ENTITY#58                                           j1   9.666205
571   ENTITY#58                                            1   5.885716
572   ENTITY#58                                         1_j1   5.561839
626    ENTITY#6                                  nikon_d5300  19.572922
627    ENTITY#6                              nikon_d5300_kit  12.639311
628    ENTITY#6                      nikon_d5300_dslr_camera   7.480171
682    ENTITY#7                              olympus_om_e_m5   5.547876
683    ENTITY#7                                 olympus_om-d   5.544860
684    ENTITY#7                            olympus_om-d_e-m5   5.332733
717   ENTITY#75                                        d7000  75.081311
718   ENTITY#75                                  nikon_d7000  19.030867
719   ENTITY#75                                   d7000_body   1.879771
747   ENTITY#76                                         d610  27.369842
748   ENTITY#76                                   nikon_d610   7.501417
749   ENTITY#76           nikon_d610_digital_slr_camera_body   5.539062
777    ENTITY#8                                         1_j3  23.974973
778    ENTITY#8  nikon_j3_interchangable_lens_digital_camera   7.391838
779    ENTITY#8                                           j3   5.947540
800   ENTITY#84                                   nikon_d300  38.517717
801   ENTITY#84                              nikon_d300_body   1.875102
802   ENTITY#84                                         d300   1.806945
813   ENTITY#96                                          70d  17.710238
814   ENTITY#96                                canon_eos_70d  13.641610
815   ENTITY#96                    canon_eos_70d_dslr_camera  10.901304

---

## Save ranking

In [10]:
ranking_filename = 'ranking_alaska_bert.xlsx'
ranking_filepath = os.path.join(root_dir, data_dir, ranking_filename)

In [11]:
ranking_filepath

'../../data/terms/ranking_alaska_bert.xlsx'

In [12]:
ranking_df.to_excel(ranking_filepath)

---