# Process terms 
Process terms retrieved from the neural network model using `LIME`

---

## Load the retrieved terms

In [1]:
import os

In [2]:
root_dir = '../..'
data_dir = 'data/terms'
filename = 'relevant_terms_alaska_nn_tfidf.csv'
filepath = os.path.join(root_dir, data_dir, filename)

In [3]:
import pandas as pd

In [4]:
terms_df = pd.read_csv(filepath)

In [5]:
terms_df.head()

       label                             term    weight  data_id
0  ENTITY#44          nikon_d3200_dslr_camera  0.874403        0
1  ENTITY#44                      nikon_d3200  0.880964        1
2  ENTITY#44                      nikon_d3200  0.887180        2
3  ENTITY#44  nikon_d3200_digital_dslr_camera  0.783001        3
4  ENTITY#44                               24  0.068562        3

---

## Rank terms

### Aggregate (sum) LIME weights for each term

In [6]:
#terms_stats_df_1 = terms_df.groupby(['label', 'term']).agg({'weight': 'sum','rank': 'mean'})
#terms_stats_df_2 = terms_df.groupby(['label', 'term']).size().to_frame('count')
#terms_stats_df = terms_stats_df_1.join(terms_stats_df_2).reset_index()
terms_stats_df = terms_df.groupby(['label', 'term']).agg({'weight': 'sum'}).reset_index()

In [7]:
terms_stats_df.head()

        label               term    weight
0  ENTITY#101       013803142457  1.084708
1  ENTITY#101  013803142457_ebay  0.317570
2  ENTITY#101                 0l  0.073076
3  ENTITY#101               1300  0.035443
4  ENTITY#101               16gb  0.036281

### Sort terms
Rank terms by total weight (descending)

In [8]:
ranking_df = terms_stats_df.groupby('label')\
                .apply(lambda grp: grp.sort_values(by='weight', ascending=False))\
                .reset_index(drop=True)

In [9]:
ranking_df.groupby('label').head(3)

           label                                         term     weight
0     ENTITY#101                                  5d_mark_iii  24.429103
1     ENTITY#101                  iii_digital_slr_camera_body   4.285580
2     ENTITY#101        22_3_mp_digital_slr_camera_black_body   4.011217
87    ENTITY#102                                           ii   6.897895
88    ENTITY#102                            013803105384_ebay   3.799566
89    ENTITY#102                                 013803105384   3.497794
157    ENTITY#16                                    nikon_d90  23.186647
158    ENTITY#16                                 018208254460   6.082784
159    ENTITY#16         12_3_mp_digital_slr_camera_black_kit   2.755507
240    ENTITY#18                                canon_eos_60d  40.386567
241    ENTITY#18                                          60d  19.570732
242    ENTITY#18                                 013803129052   8.698860
370    ENTITY#19                                  nikon_d3300  13.025693
371    ENTITY#19                                        d3300   6.051306
372    ENTITY#19                              nikon_d3300_kit   5.470238
438    ENTITY#21                                        d5100  24.444274
439    ENTITY#21                                  nikon_d5100  11.693344
440    ENTITY#21                                 018208254781   8.338838
539    ENTITY#23                                 canon_eos_7d  48.268087
540    ENTITY#23                                 013803117493  10.171756
541    ENTITY#23                            013803117493_ebay   9.116535
674    ENTITY#36                                  nikon_d3100  31.508097
675    ENTITY#36                                        d3100   8.418503
676    ENTITY#36         14_2_mp_digital_slr_camera_black_kit   5.464632
803    ENTITY#37                                    nikon_d80  10.305835
804    ENTITY#37                                 018208254125   3.237252
805    ENTITY#37      nikon_d80_10_2mp_digital_slr_camera_kit   2.378195
853    ENTITY#41                                        d5200  18.196232
854    ENTITY#41                                  nikon_d5200  15.664675
855    ENTITY#41               nikon_d5200_digital_slr_camera   6.017642
990    ENTITY#44                                        d3200  53.766357
991    ENTITY#44                                  nikon_d3200  31.456219
992    ENTITY#44                              nikon_d3200_kit   6.115461
1107   ENTITY#57                                   nikon_d800   8.356913
1108   ENTITY#57                                 018208254804   7.671751
1109   ENTITY#57        36_3_mp_digital_slr_camera_black_body   3.114018
1167   ENTITY#58                                           j1   7.499917
1168   ENTITY#58                                         1_j1   4.349892
1169   ENTITY#58                                           10   4.149075
1256    ENTITY#6                                  nikon_d5300  11.897862
1257    ENTITY#6                              nikon_d5300_kit   9.622578
1258    ENTITY#6                                 018208015191   8.629788
1385    ENTITY#7                              olympus_om_e_m5   5.083195
1386    ENTITY#7                            olympus_om-d_e-m5   4.694142
1387    ENTITY#7                                   olympus_om   1.989283
1460   ENTITY#75                                        d7000  31.811068
1461   ENTITY#75                                  nikon_d7000  15.423314
1462   ENTITY#75                                 018208254682   6.929686
1576   ENTITY#76                                         d610   8.387202
1577   ENTITY#76                                   nikon_d610   5.243844
1578   ENTITY#76                                 018208015405   4.313579
1672    ENTITY#8                                         1_j3   9.294538
1673    ENTITY#8  nikon_j3_interchangable_lens_digital_camera   3.216426
1674    ENTITY#8                                           j3   3.008390
1744   ENTITY#84                                   nikon_d300  19.645601
1745   ENTITY#84        12_3_mp_digital_slr_camera_black_body   3.205628
1746   ENTITY#84                              nikon_d300_body   1.696712
1813   ENTITY#96                                canon_eos_70d  11.965442
1814   ENTITY#96                                          70d   9.217384
1815   ENTITY#96                    canon_eos_70d_dslr_camera   6.712646

---

## Save selected ranking

In [10]:
ranking_filename = 'ranking_alaska_nn_tfidf.xlsx'
ranking_filepath = os.path.join(root_dir, data_dir, ranking_filename)

In [11]:
ranking_filepath

'../../data/terms/ranking_alaska_nn_tfidf.xlsx'

In [12]:
ranking_df.to_excel(ranking_filepath)

---