# Process terms 
Process terms retrieved from the neural network model using `LIME`

---

## Load the retrieved terms

In [1]:
import os

In [2]:
root_dir = '../..'
data_dir = 'data/terms'
filename = 'relevant_terms_alaska_nn.csv'
filepath = os.path.join(root_dir, data_dir, filename)

In [3]:
import pandas as pd

In [4]:
terms_df = pd.read_csv(filepath)

In [5]:
terms_df.head()

       label                     term    weight  data_id
0  ENTITY#44  nikon_d3200_dslr_camera  0.563572        0
1  ENTITY#44                  18_55mm  0.265820        0
2  ENTITY#44          55_200mm_lenses  0.175857        0
3  ENTITY#44               black_ebay  0.129290        0
4  ENTITY#44              nikon_d3200  0.812544        1

---

## Rank terms

### Add `rank` column
Add a ranking column by sorting each document's terms by their LIME weight in descending order

In [8]:
terms_df['rank'] = terms_df.groupby(['label', 'data_id'])['weight'].rank(ascending=False)

In [9]:
terms_df.head()

       label                     term    weight  data_id  rank
0  ENTITY#44  nikon_d3200_dslr_camera  0.563572        0   1.0
1  ENTITY#44                  18_55mm  0.265820        0   2.0
2  ENTITY#44          55_200mm_lenses  0.175857        0   3.0
3  ENTITY#44               black_ebay  0.129290        0   4.0
4  ENTITY#44              nikon_d3200  0.812544        1   1.0

### Compute stats

In [10]:
terms_stats_df_1 = terms_df.groupby(['label', 'term']).agg({'weight': 'sum','rank': 'mean'})
terms_stats_df_2 = terms_df.groupby(['label', 'term']).size().to_frame('count')
terms_stats_df = terms_stats_df_1.join(terms_stats_df_2).reset_index()

In [11]:
terms_stats_df.head()

        label     term     weight  rank  count
0  ENTITY#101        2   0.055329   4.0      1
1  ENTITY#101        3   0.085212   4.0      2
2  ENTITY#101   3_ebay   0.091817   4.0      1
3  ENTITY#101       5d   1.497793   2.0      5
4  ENTITY#101  5d_mark  10.682544   1.0     14

### Ranking #1
Rank terms by mean ranking (ascending) and total weight (descending)

In [12]:
ranking1_df = terms_stats_df.groupby('label')\
                .apply(lambda grp: grp.sort_values(by=['rank', 'weight'], ascending=[True, False]))\
                .reset_index(drop=True)

In [13]:
ranking1_df.groupby('label').head(3)

,label,term,weight,rank,count
0,ENTITY#101,5d_mark_iii,38.210490,1.0,40
1,ENTITY#101,5d_mark,10.682544,1.0,14
2,ENTITY#101,canon_eos_5d_mark_iii_22_3_mp_full_frame,3.825436,1.0,4
56,ENTITY#102,canon_eos_5d_dslr_mark_ii_body_black_price,0.971038,1.0,1
57,ENTITY#102,5d_slr_mark_ii,0.969073,1.0,1
58,ENTITY#102,canon_eos_5d_mark_ii_body_w_acc,0.967563,1.0,1
102,ENTITY#16,nikon_d90,57.921286,1.0,62
103,ENTITY#16,nikon_d90_dx_12_3mp_digital_slr_camera,1.926593,1.0,2
104,ENTITY#16,nikon_d90_camera_body,1.922917,1.0,2
155,ENTITY#18,canon_eos_60d,53.296572,1.0,58
156,ENTITY#18,canon_eos_60d_digital_slr_essentials,5.485851,1.0,6
157,ENTITY#18,canon_eos_60d_slr_camera,2.843787,1.0,3
281,ENTITY#19,nikon_d3300_body,3.384217,1.0,5
282,ENTITY#19,nikon_d3300_twin_lens_kit,2.253961,1.0,3
283,ENTITY#19,nikon_d3300_black_twin_lens_kit,1.795654,1.0,2
416,ENTITY#21,nikon_d5100_digital_slr_camera,4.053866,1.0,5
417,ENTITY#21,nikon_d5100_digital_slr_camera_16_2mp,2.800984,1.0,3
418,ENTITY#21,nikon_d5100_dslr_camera,2.508059,1.0,4
552,ENTITY#23,canon_eos_7d,98.851863,1.0,104
553,ENTITY#23,7d,9.207415,1.0,10
554,ENTITY#23,canon_eos_7d_digital_slr_camera,5.868210,1.0,6
612,ENTITY#36,14_2_mp_digital_slr_camera_black_kit,9.635717,1.0,26
613,ENTITY#36,nikon_d3100_digital_slr_camera,6.102970,1.0,8
614,ENTITY#36,14_2_mp_digital_slr_camera_black_body,5.011424,1.0,9
780,ENTITY#37,nikon_d80,36.767419,1.0,44
781,ENTITY#37,nikon_d80_10_2mp_digital_slr_camera_kit,2.885501,1.0,3
782,ENTITY#37,nikon_d80_digital_slr_camera_black,0.971605,1.0,1
825,ENTITY#41,nikon_d5200_digital_slr_camera,7.712675,1.0,9
826,ENTITY#41,nikon_d5200_twin_kit,4.544060,1.0,6
827,ENTITY#41,nikon_d5200_24_1_mp_cmos_digital_slr,3.532457,1.0,4
962,ENTITY#44,nikon_d3200,29.837938,1.0,41
963,ENTITY#44,nikon_d3200_kit,6.002366,1.0,7
964,ENTITY#44,nikon_d3200_digital_slr_camera,3.995399,1.0,7
1139,ENTITY#57,nikon_d800,30.012217,1.0,49
1140,ENTITY#57,d800,6.363447,1.0,10
1141,ENTITY#57,nikon_d800_digital_slr_camera_body,3.222502,1.0,4
1201,ENTITY#58,j1,16.619817,1.0,44
1202,ENTITY#58,1_j1,6.401212,1.0,9
1203,ENTITY#58,nikon_j1,2.387578,1.0,3
1274,ENTITY#6,nikon_d5300,14.302714,1.0,21
1275,ENTITY#6,nikon_d5300_kit,10.570854,1.0,14
1276,ENTITY#6,nikon_d5300_dslr_camera,5.780416,1.0,8
1458,ENTITY#7,olympus_om_e_m5,5.612352,1.0,6
1459,ENTITY#7,olympus_om-d_e-m5,4.325457,1.0,6
1460,ENTITY#7,olympus_om-d,3.039933,1.0,6
1538,ENTITY#75,nikon_d7000_18-55mm,1.391697,1.0,2
1539,ENTITY#75,16_2mp_digital_slr_camera_body,1.368550,1.0,3
1540,ENTITY#75,d7000_kit,1.347093,1.0,2
1737,ENTITY#76,nikon_d610_digital_slr_camera_body,5.538693,1.0,6
1738,ENTITY#76,nikon_d610,5.128914,1.0,8
1739,ENTITY#76,d610_24_3_mp_digital_slr_camera_body,3.330073,1.0,5
1833,ENTITY#8,1_j3,21.505273,1.0,28
1834,ENTITY#8,nikon_j3_interchangable_lens_digital_camera,5.700558,1.0,8
1835,ENTITY#8,j3,2.917831,1.0,7
1897,ENTITY#84,nikon_d300,37.061742,1.0,42
1898,ENTITY#84,nikon_d300_body,1.818226,1.0,2
1899,ENTITY#84,d300,1.176565,1.0,2
1931,ENTITY#96,canon_eos_70d,13.459056,1.0,16
1932,ENTITY#96,canon_eos_70d_dslr_camera,10.741861,1.0,12
1933,ENTITY#96,canon_eos_70d_digital_slr_camera,7.408551,1.0,10

---

## Ranking #2

In [14]:
terms_stats_df['score'] = terms_stats_df.apply(lambda x: x['count']/(x['rank'])**2, axis=1)

In [15]:
terms_stats_df.head()

        label     term     weight  rank  count    score
0  ENTITY#101        2   0.055329   4.0      1   0.0625
1  ENTITY#101        3   0.085212   4.0      2   0.1250
2  ENTITY#101   3_ebay   0.091817   4.0      1   0.0625
3  ENTITY#101       5d   1.497793   2.0      5   1.2500
4  ENTITY#101  5d_mark  10.682544   1.0     14  14.0000

In [16]:
ranking2_df = terms_stats_df.groupby('label')\
                .apply(lambda grp: grp.sort_values(by='score', ascending=False))\
                .reset_index(drop=True)

In [17]:
ranking2_df.groupby('label').head(3)

,label,term,weight,rank,count,score
0,ENTITY#101,5d_mark_iii,38.210490,1.000000,40,40.000000
1,ENTITY#101,5d_mark,10.682544,1.000000,14,14.000000
2,ENTITY#101,canon_eos_5d_mark_iii_22_3_mp_full_frame,3.825436,1.000000,4,4.000000
56,ENTITY#102,canon_eos_5d,51.191093,1.039474,76,70.337446
57,ENTITY#102,ii,22.174833,1.944444,72,19.043265
58,ENTITY#102,mark,13.996577,3.064935,77,8.196872
102,ENTITY#16,nikon_d90,57.921286,1.000000,62,62.000000
103,ENTITY#16,12_3_mp_digital_slr_camera_black_kit,1.390819,2.000000,15,3.750000
104,ENTITY#16,12_3_mp_digital_slr_camera_black_body,0.909726,2.000000,13,3.250000
155,ENTITY#18,canon_eos_60d,53.296572,1.000000,58,58.000000
156,ENTITY#18,canon,19.626492,1.116667,60,48.117621
157,ENTITY#18,eos,14.650882,2.105263,57,12.860625
281,ENTITY#19,nikon_d3300,10.181559,1.238095,21,13.699704
282,ENTITY#19,d3300,5.745647,1.090909,11,9.243056
283,ENTITY#19,nikon_d3300_body,3.384217,1.000000,5,5.000000
416,ENTITY#21,d5100,31.853529,1.081081,74,63.316250
417,ENTITY#21,16,11.250391,2.555556,63,9.646503
418,ENTITY#21,nikon_d5100,9.197597,1.214286,14,9.494810
552,ENTITY#23,canon_eos_7d,98.851863,1.000000,104,104.000000
553,ENTITY#23,7d,9.207415,1.000000,10,10.000000
554,ENTITY#23,canon_eos_7d_digital_slr_camera,5.868210,1.000000,6,6.000000
612,ENTITY#36,nikon_d3100,32.010075,1.626667,75,28.344195
613,ENTITY#36,14_2_mp_digital_slr_camera_black_kit,9.635717,1.000000,26,26.000000
614,ENTITY#36,14_2_mp_digital_slr_camera_black_body,5.011424,1.000000,9,9.000000
780,ENTITY#37,nikon_d80,36.767419,1.000000,44,44.000000
781,ENTITY#37,nikon_d80_10_2mp_digital_slr_camera_kit,2.885501,1.000000,3,3.000000
782,ENTITY#37,10_2_mp_digital_slr_camera_black_body,3.567617,2.000000,12,3.000000
825,ENTITY#41,nikon_d5200,13.422045,1.047619,21,19.134298
826,ENTITY#41,24_1_mp_digital_slr_camera_black_kit,6.611171,1.105263,19,15.553288
827,ENTITY#41,nikon_d5200_digital_slr_camera,7.712675,1.000000,9,9.000000
962,ENTITY#44,d3200,33.509954,1.181818,77,55.130178
963,ENTITY#44,nikon_d3200,29.837938,1.000000,41,41.000000
964,ENTITY#44,nikon,14.853645,2.717949,78,10.558740
1139,ENTITY#57,nikon_d800,30.012217,1.000000,49,49.000000
1140,ENTITY#57,d800,6.363447,1.000000,10,10.000000
1141,ENTITY#57,36_3_mp_digital_slr_camera_black_body,7.969399,2.000000,28,7.000000
1201,ENTITY#58,j1,16.619817,1.000000,44,44.000000
1202,ENTITY#58,10,9.556074,2.176471,51,10.766253
1203,ENTITY#58,1_j1,6.401212,1.000000,9,9.000000
1274,ENTITY#6,nikon_d5300,14.302714,1.000000,21,21.000000
1275,ENTITY#6,nikon_d5300_kit,10.570854,1.000000,14,14.000000
1276,ENTITY#6,nikon_d5300_dslr_camera,5.780416,1.000000,8,8.000000
1458,ENTITY#7,olympus_om-d,3.039933,1.000000,6,6.000000
1459,ENTITY#7,olympus_om_e_m5,5.612352,1.000000,6,6.000000
1460,ENTITY#7,olympus,2.242112,1.000000,6,6.000000
1538,ENTITY#75,d7000,28.607860,1.468354,79,36.640829
1539,ENTITY#75,nikon_d7000,13.333458,1.047619,21,19.134298
1540,ENTITY#75,2_mp_digital_slr_camera_black_body,3.156072,1.363636,11,5.915556
1737,ENTITY#76,d610,12.802945,1.586207,29,11.525992
1738,ENTITY#76,nikon_d610,5.128914,1.000000,8,8.000000
1739,ENTITY#76,24_3_mp_cmos_fx,2.465970,1.000000,8,8.000000
1833,ENTITY#8,1_j3,21.505273,1.000000,28,28.000000
1834,ENTITY#8,nikon_j3_interchangable_lens_digital_camera,5.700558,1.000000,8,8.000000
1835,ENTITY#8,j3,2.917831,1.000000,7,7.000000
1897,ENTITY#84,nikon_d300,37.061742,1.000000,42,42.000000
1898,ENTITY#84,12_3_mp_digital_slr_camera_black_body,2.065297,2.000000,13,3.250000
1899,ENTITY#84,nikon_d300_body,1.818226,1.000000,2,2.000000
1931,ENTITY#96,eos,12.852117,1.463415,41,19.144722
1932,ENTITY#96,canon_eos_70d,13.459056,1.000000,16,16.000000
1933,ENTITY#96,canon_eos_70d_dslr_camera,10.741861,1.000000,12,12.000000

After a quick comparison, `ranking#1` seems to yield better results than `ranking#2`

---

## Save selected ranking

In [19]:
ranking_filename = 'ranking_alaska_nn.xlsx'
ranking_filepath = os.path.join(root_dir, data_dir, ranking_filename)

In [20]:
ranking_filepath

'../../data/terms/ranking_alaska_nn.xlsx'

In [21]:
ranking1_df.to_excel(ranking_filepath)

---