# Process terms 
Process terms retrieved from the neural network model using `LIME`

## Load the retrieved terms

In [1]:
import os

In [2]:
root_dir = '../..'
data_dir = 'data/terms'
dataset_name = 'alaska'
test_name = 'sampling_records_test2'
filename = f'relevant_terms_{dataset_name}_bert_{test_name}.csv'
filepath = os.path.join(root_dir, data_dir, filename)

In [3]:
import pandas as pd

In [4]:
terms_df = pd.read_csv(filepath)

In [5]:
terms_df.head()

       label                                  term    weight  data_id
0  ENTITY#44                                 d32oo  0.849249       34
1  ENTITY#44                                 d3200  0.851559      116
2  ENTITY#44  d3200_24_2mp_digital_slr_camera_w_af  0.918222       32
3  ENTITY#44                           nikon_d3200  0.589502       56
4  ENTITY#44                                    vr  0.045263       56

In [13]:
terms_df.shape

(1336, 4)

---

## Rank terms

### Aggregate (sum) LIME weights for each term

In [6]:
terms_stats_df = terms_df.groupby(['label', 'term']).agg({'weight': 'sum'}).reset_index()

In [7]:
terms_stats_df.head()

        label              term    weight
0  ENTITY#101  22_3_mp_dslr_kit  0.033307
1  ENTITY#101           24-70/2  0.265517
2  ENTITY#101       2_batteries  0.105568
3  ENTITY#101                 3  0.079372
4  ENTITY#101            3_ebay  0.057442

### Sort terms
Rank terms by total weight (descending)

In [8]:
ranking_df = terms_stats_df.groupby('label')\
                .apply(lambda grp: grp.sort_values(by='weight', ascending=False))\
                .reset_index(drop=True)

In [9]:
ranking_df.groupby('label').head(3)

          label                                         term     weight
0    ENTITY#101                                  5d_mark_iii   6.769827
1    ENTITY#101                      5d_mark_iii_dslr_camera   2.659496
2    ENTITY#101                   canon_eos_5d_mark_iii_body   2.583473
52   ENTITY#102                                           ii  22.943243
53   ENTITY#102                                         mark   6.373213
54   ENTITY#102                                 canon_eos_5d   4.938897
80    ENTITY#16                                    nikon_d90  20.657028
81    ENTITY#16                             nikon_d90_camera   1.911760
82    ENTITY#16                   nikon_d90_kit_w_speedlight   0.964545
111   ENTITY#18                                canon_eos_60d  11.555803
112   ENTITY#18                                          60d   7.552393
113   ENTITY#18                                    canon_60d   1.773192
152   ENTITY#19                                  nikon_d3300  12.271616
153   ENTITY#19                                        d3300   7.471124
154   ENTITY#19                              nikon_d3300_kit   3.498390
179   ENTITY#21                                        d5100  11.935918
180   ENTITY#21                                  nikon_d5100   8.297826
181   ENTITY#21                              nikon_d5100_kit   1.904114
210   ENTITY#23                                 canon_eos_7d  14.893094
211   ENTITY#23                                           7d   5.425027
212   ENTITY#23                                     canon_7d   3.359564
241   ENTITY#36                                  nikon_d3100  12.002460
242   ENTITY#36                                        d3100   4.030879
243   ENTITY#36                      nikon_d3100_dslr_camera   2.252924
299   ENTITY#37                                    nikon_d80  22.872165
300   ENTITY#37      nikon_d80_10_2mp_digital_slr_camera_kit   2.781959
301   ENTITY#37           nikon_d80_digital_slr_camera_black   0.947008
313   ENTITY#41                                        d5200   6.532683
314   ENTITY#41                                  nikon_d5200   5.667038
315   ENTITY#41               nikon_d5200_digital_slr_camera   3.769603
350   ENTITY#44                                        d3200  12.571315
351   ENTITY#44                                  nikon_d3200   8.952936
352   ENTITY#44                              nikon_d3200_kit   2.112716
387   ENTITY#57                                   nikon_d800  17.753455
388   ENTITY#57                                         d800   3.555075
389   ENTITY#57           nikon_d800_digital_slr_camera_body   2.413873
407   ENTITY#58                                         1_j1   5.057683
408   ENTITY#58                                           j1   4.191352
409   ENTITY#58                                            1   2.791720
455    ENTITY#6                                  nikon_d5300  10.229263
456    ENTITY#6                                        d5300   3.887376
457    ENTITY#6                      nikon_d5300_dslr_camera   3.706051
491    ENTITY#7                              olympus_om_e_m5   5.547876
492    ENTITY#7                                   olympus_om   4.617429
493    ENTITY#7                                 olympus_om-d   2.770551
522   ENTITY#75                                        d7000  19.825527
523   ENTITY#75                                  nikon_d7000   9.623477
524   ENTITY#75                                   d7000_body   1.879771
546   ENTITY#76                                         d610  11.014550
547   ENTITY#76                                   nikon_d610   6.574877
548   ENTITY#76         d610_24_3_mp_digital_slr_camera_body   2.794514
574    ENTITY#8                                         1_j3  16.529044
575    ENTITY#8                                           j3   5.947541
576    ENTITY#8  nikon_j3_interchangable_lens_digital_camera   3.696314
596   ENTITY#84                                   nikon_d300  24.597781
597   ENTITY#84                              nikon_d300_body   1.875102
598   ENTITY#84                                         d300   1.806945
608   ENTITY#96                                          70d   6.730381
609   ENTITY#96                                canon_eos_70d   4.642494
610   ENTITY#96                    canon_eos_70d_dslr_camera   2.703558

---

## Save ranking

In [10]:
ranking_filename = f'ranking_{dataset_name}_bert_{test_name}.xlsx'
ranking_filepath = os.path.join(root_dir, data_dir, ranking_filename)

In [11]:
ranking_filepath

'../../data/terms/ranking_alaska_bert_sampling_records_test2.xlsx'

In [12]:
ranking_df.to_excel(ranking_filepath)

---