# Process terms 
Process terms retrieved from the neural network model using `LIME`

## Load the retrieved terms

In [1]:
import os

In [2]:
root_dir = '../..'
data_dir = 'data/terms'
dataset_name = 'alaska'
test_name = 'sampling_records_and_terms_test1'
filename = f'relevant_terms_{dataset_name}_bert_{test_name}.csv'
filepath = os.path.join(root_dir, data_dir, filename)

In [3]:
import pandas as pd

In [4]:
terms_df = pd.read_csv(filepath)

In [5]:
terms_df.head()

       label                                       term    weight  data_id
0  ENTITY#44  d3200_24_2_mp_digital_slr_camera_kit_body  0.925241       83
1  ENTITY#44                                      d3200  0.870331      160
2  ENTITY#44                                nikon_d3200  0.752942       12
3  ENTITY#44                    nikon_d3200_dslr_camera  0.742707       80
4  ENTITY#44                                       lens  0.040852       80

In [6]:
terms_df.shape

(2050, 4)

---

## Rank terms

### Aggregate (sum) LIME weights for each term

In [7]:
terms_stats_df = terms_df.groupby(['label', 'term']).agg({'weight': 'sum'}).reset_index()

In [8]:
terms_stats_df.head()

        label              term    weight
0  ENTITY#101  22_3_mp_dslr_kit  0.033307
1  ENTITY#101      22_3mp_brand  0.069255
2  ENTITY#101           24-70/2  0.265517
3  ENTITY#101       2_batteries  0.105568
4  ENTITY#101                 3  0.079372

### Sort terms
Rank terms by total weight (descending)

In [9]:
ranking_df = terms_stats_df.groupby('label')\
                .apply(lambda grp: grp.sort_values(by='weight', ascending=False))\
                .reset_index(drop=True)

In [10]:
ranking_df.groupby('label').head(3)

          label                                         term     weight
0    ENTITY#101                                  5d_mark_iii  13.082401
1    ENTITY#101                                      5d_mark   5.318549
2    ENTITY#101     canon_eos_5d_mark_iii_22_3_mp_full_frame   2.850493
63   ENTITY#102                                           ii  35.236154
64   ENTITY#102                                         mark   9.067888
65   ENTITY#102                                 canon_eos_5d   7.512695
91    ENTITY#16                                    nikon_d90  32.936929
92    ENTITY#16                        nikon_d90_camera_body   1.922653
93    ENTITY#16                             nikon_d90_camera   1.911760
122   ENTITY#18                                canon_eos_60d  33.384055
123   ENTITY#18                                          60d  13.756493
124   ENTITY#18                         canon_eos_60d_camera   2.584979
178   ENTITY#19                                  nikon_d3300  18.907803
179   ENTITY#19                                        d3300   9.369248
180   ENTITY#19                             nikon_d3300_body   4.470056
210   ENTITY#21                                        d5100  28.950251
211   ENTITY#21                                  nikon_d5100  11.096690
212   ENTITY#21               nikon_d5100_digital_slr_camera   4.335855
247   ENTITY#23                                 canon_eos_7d  32.524124
248   ENTITY#23                                           7d   8.134262
249   ENTITY#23              canon_eos_7d_digital_slr_camera   5.300504
299   ENTITY#36                                  nikon_d3100  22.984877
300   ENTITY#36                                        d3100  12.269370
301   ENTITY#36               nikon_d3100_digital_slr_camera   4.194107
382   ENTITY#37                                    nikon_d80  28.225816
383   ENTITY#37      nikon_d80_10_2mp_digital_slr_camera_kit   2.781959
384   ENTITY#37           nikon_d80_digital_slr_camera_black   0.947008
396   ENTITY#41                                  nikon_d5200  12.275437
397   ENTITY#41                                        d5200  11.168044
398   ENTITY#41               nikon_d5200_digital_slr_camera   6.586261
449   ENTITY#44                                        d3200  24.069573
450   ENTITY#44                                  nikon_d3200  19.736269
451   ENTITY#44                              nikon_d3200_kit   2.876053
512   ENTITY#57                                   nikon_d800  23.759762
513   ENTITY#57                                         d800   6.317728
514   ENTITY#57           nikon_d800_digital_slr_camera_body   2.413873
532   ENTITY#58                                           j1   6.967497
533   ENTITY#58                                         1_j1   5.057683
534   ENTITY#58                                            1   4.396067
588    ENTITY#6                                  nikon_d5300  17.731180
589    ENTITY#6                      nikon_d5300_dslr_camera   6.540202
590    ENTITY#6                                        d5300   5.763841
641    ENTITY#7                              olympus_om_e_m5   5.547876
642    ENTITY#7                                 olympus_om-d   5.544860
643    ENTITY#7                            olympus_om-d_e-m5   5.332733
675   ENTITY#75                                        d7000  42.269901
676   ENTITY#75                                  nikon_d7000  17.161392
677   ENTITY#75                                   d7000_body   1.879771
703   ENTITY#76                                         d610  18.254911
704   ENTITY#76                                   nikon_d610   7.501417
705   ENTITY#76         d610_24_3_mp_digital_slr_camera_body   2.794514
733    ENTITY#8                                         1_j3  19.010078
734    ENTITY#8  nikon_j3_interchangable_lens_digital_camera   7.391838
735    ENTITY#8                                           j3   5.968734
756   ENTITY#84                                   nikon_d300  29.235261
757   ENTITY#84                              nikon_d300_body   1.875102
758   ENTITY#84                                         d300   1.806945
769   ENTITY#96                                canon_eos_70d   9.950603
770   ENTITY#96                                          70d   9.590052
771   ENTITY#96                    canon_eos_70d_dslr_camera   8.136697

---

## Save ranking

In [11]:
ranking_filename = f'ranking_{dataset_name}_bert_{test_name}.xlsx'
ranking_filepath = os.path.join(root_dir, data_dir, ranking_filename)

In [12]:
ranking_filepath

'../../data/terms/ranking_alaska_bert_sampling_records_and_terms_test1.xlsx'

In [13]:
ranking_df.to_excel(ranking_filepath)

---