# Process terms 
Process terms retrieved from the neural network model using `LIME`

---
## Load the retrieved terms

In [1]:
import os

In [2]:
dataset_name = 'nyt'
model_name = 'bert'

In [3]:
root_dir = '../..'
data_dir = 'data/terms'
filename = f'relevant_terms_{dataset_name}_{model_name}.csv'
filepath = os.path.join(root_dir, data_dir, filename)

In [4]:
import pandas as pd

In [5]:
terms_df = pd.read_csv(filepath)

In [6]:
terms_df.head()

    label               term    weight  data_id
0  Q11201      appeals_court  0.100571        0
1  Q11201  one-year_sentence  0.066058        0
2  Q11201              panel  0.046044        0
3  Q11201          arguments  0.036779        0
4  Q11201            whether  0.036227        0

---

## Rank terms by LIME weights

### Aggregate (sum) LIME weights for each term

In [7]:
terms_stats_df = terms_df.groupby(['label', 'term']).agg({'weight': 'sum'}).reset_index()

In [8]:
terms_stats_df.head()

    label               term    weight
0  Q11201                  1  0.174647
1  Q11201          1,500_fee  0.002563
2  Q11201         1,500_fees  0.001279
3  Q11201  105-page_document  0.028491
4  Q11201        10_warrants  0.029505

### Sort terms
Rank terms by total weight (descending)

In [9]:
ranking_df = terms_stats_df.groupby('label')\
                .apply(lambda grp: grp.sort_values(by='weight', ascending=False))\
                .reset_index(drop=True)

In [10]:
ranking_df.groupby('label').head()

         label                    term     weight
0       Q11201                   court   9.744176
1       Q11201           supreme_court   7.793146
2       Q11201                 article   3.224292
3       Q11201              high_court   2.532203
4       Q11201   supreme_court_justice   1.695288
1634    Q11211                  troops   6.565331
1635    Q11211                      u.   4.751721
1636    Q11211                    iraq   4.275116
1637    Q11211                      s.   2.826302
1638    Q11211                      us   2.091001
3616     Q1124                 clinton  28.297009
3617     Q1124               president  10.008616
3618     Q1124            bill_clinton   8.302200
3619     Q1124  hillary_rodham_clinton   6.725671
3620     Q1124                    bill   5.802482
4578     Q1384                new_york  39.282109
4579     Q1384           new_york_city  12.378258
4580     Q1384          new_york_state   4.836321
4581     Q1384                     new   4.738122
4582     Q1384              new_jersey   4.414395
5559      Q148                   china  80.306568
5560      Q148               hong_kong   6.513311
5561      Q148         communist_china   5.805562
5562      Q148                 chinese   4.453805
5563      Q148                  taiwan   3.824585
6369    Q23505                    bush  28.170546
6370    Q23505          vice_president   4.516508
6371    Q23505                      g.   4.473331
6372    Q23505                      p.   3.157670
6373    Q23505               president   3.029393
7248    Q29468                   party  10.322763
7249    Q29468             republicans   9.188342
7250    Q29468               democrats   5.966340
7251    Q29468              republican   5.152451
7252    Q29468        republican_party   3.558098
8800   Q330963                politics   2.814004
8801   Q330963               democracy   2.442684
8802   Q330963                  system   1.698904
8803   Q330963                   power   1.301700
8804   Q330963                 control   1.234108
11554   Q66096                  senate  67.652510
11555   Q66096        senate_democrats   6.876290
11556   Q66096               us_senate   5.185533
11557   Q66096      senate_republicans   5.126597
11558   Q66096            senate_panel   3.544871
12665  Q744448          foreign_policy  20.006126
12666  Q744448                  policy   9.158313
12667  Q744448                      us   5.601576
12668  Q744448         foreign_affairs   4.564101
12669  Q744448                 foreign   2.902078

---

## Save ranking

In [11]:
ranking_filename = f'ranking_{dataset_name}_{model_name}.xlsx'
ranking_filepath = os.path.join(root_dir, data_dir, ranking_filename)

In [12]:
ranking_filepath

'../../data/terms/ranking_nyt_bert.xlsx'

In [13]:
ranking_df.to_excel(ranking_filepath)

---