# Process terms 
Process terms retrieved from the neural network model using `LIME`

---
## Load the retrieved terms

In [1]:
import os

In [2]:
version = 'v2'

In [3]:
root_dir = '../..'
data_dir = 'data/terms'
filename = f'relevant_terms_wikidata_nn_{version}.csv'
filepath = os.path.join(root_dir, data_dir, filename)

In [4]:
import pandas as pd

In [5]:
terms_df = pd.read_csv(filepath)

In [6]:
terms_df.head()

   label       term    weight  data_id
0  Q1754  stockholm  0.599901        0
1  Q1754     sweden  0.367104        0
2  Q1754       city  0.205932        0
3  Q1754    capital  0.147603        0
4  Q1754  stockholm  0.348855        1

---

## Rank terms by LIME weights

### Aggregate (sum) LIME weights for each term

In [7]:
terms_stats_df = terms_df.groupby(['label', 'term']).agg({'weight': 'sum'}).reset_index()

In [8]:
terms_stats_df.head()

      label         term    weight
0  Q1005682  2010_census  0.258931
1  Q1005682          513  0.854411
2  Q1005682       carver  1.904890
3  Q1005682         city  0.242376
4  Q1005682       county  1.648706

### Sort terms
Rank terms by total weight (descending)

In [9]:
ranking_df = terms_stats_df.groupby('label')\
                .apply(lambda grp: grp.sort_values(by='weight', ascending=False))\
                .reset_index(drop=True)

In [10]:
ranking_df.groupby('label').head()

         label       term    weight
0     Q1005682    hamburg  3.555413
1     Q1005682     united  2.902431
2     Q1005682     states  2.721304
3     Q1005682  minnesota  2.464700
4     Q1005682     carver  1.904890
...        ...        ...       ...
3953   Q998718    hamburg  2.193475
3954   Q998718       iowa  1.835938
3955   Q998718     united  1.784180
3956   Q998718     states  1.636721
3957   Q998718   missouri  1.289391

[952 rows x 3 columns]

---

## Save ranking

In [11]:
ranking_filename = f'ranking_wikidata_nn_{version}.xlsx'
ranking_filepath = os.path.join(root_dir, data_dir, ranking_filename)

In [12]:
ranking_filepath

'../../data/terms/ranking_wikidata_nn_v2.xlsx'

In [13]:
ranking_df.to_excel(ranking_filepath)

---