# Process terms 
Process terms retrieved from the neural network model using `LIME`

---
## Load the retrieved terms

In [1]:
import os

In [2]:
version = 'v2'

In [3]:
root_dir = '../..'
data_dir = 'data/terms'
filename = f'relevant_terms_wikidata_bert_{version}.csv'
filepath = os.path.join(root_dir, data_dir, filename)

In [4]:
import pandas as pd

In [5]:
terms_df = pd.read_csv(filepath)

In [6]:
terms_df.head()

   label       term    weight  data_id
0  Q1754     sweden  0.426512        0
1  Q1754  stockholm  0.400728        0
2  Q1754       city  0.222064        0
3  Q1754    capital  0.218597        0
4  Q1754    capital  0.606604        1

---

## Rank terms by LIME weights

### Aggregate (sum) LIME weights for each term

In [7]:
terms_stats_df = terms_df.groupby(['label', 'term']).agg({'weight': 'sum'}).reset_index()

In [8]:
terms_stats_df.head()

      label         term    weight
0  Q1005682  2010_census  0.364546
1  Q1005682          513  0.316080
2  Q1005682       carver  2.782782
3  Q1005682         city  0.544804
4  Q1005682       county  0.674296

### Sort terms
Rank terms by total weight (descending)

In [9]:
ranking_df = terms_stats_df.groupby('label')\
                .apply(lambda grp: grp.sort_values(by='weight', ascending=False))\
                .reset_index(drop=True)

In [10]:
ranking_df.groupby('label').head()

         label         term    weight
0     Q1005682      hamburg  3.284492
1     Q1005682    minnesota  2.785014
2     Q1005682       carver  2.782782
3     Q1005682       states  1.120218
4     Q1005682       county  0.674296
...        ...          ...       ...
2993   Q998718      hamburg  3.255770
2994   Q998718         iowa  2.865580
2995   Q998718     missouri  1.706118
2996   Q998718  nishnabotna  1.526094
2997   Q998718       states  0.711913

[936 rows x 3 columns]

---

## Save ranking

In [11]:
ranking_filename = f'ranking_wikidata_bert_{version}.xlsx'
ranking_filepath = os.path.join(root_dir, data_dir, ranking_filename)

In [12]:
ranking_filepath

'../../data/terms/ranking_wikidata_bert_v2.xlsx'

In [13]:
ranking_df.to_excel(ranking_filepath)

---