# Process terms 
Process terms retrieved from the neural network model using `LIME`

---
## Load the retrieved terms

In [1]:
import os

In [2]:
version = 'v2'

In [3]:
root_dir = '../..'
data_dir = 'data/terms'
filename = f'relevant_terms_wikidata_nn_tfidf_{version}.csv'
filepath = os.path.join(root_dir, data_dir, filename)

In [4]:
import pandas as pd

In [5]:
terms_df = pd.read_csv(filepath)

In [6]:
terms_df.head()

   label       term    weight  data_id
0  Q1754  stockholm  0.442581        0
1  Q1754     sweden  0.352026        0
2  Q1754       city  0.123024        0
3  Q1754    capital  0.110941        0
4  Q1754  stockholm  0.473740        1

---

## Rank terms

### Aggregate (sum) LIME weights for each term### Compute stats

In [7]:
terms_stats_df = terms_df.groupby(['label', 'term']).agg({'weight': 'sum'}).reset_index()

In [8]:
terms_stats_df.head()

      label         term    weight
0  Q1005682  2010_census  0.158228
1  Q1005682          513  0.877568
2  Q1005682       carver  3.252445
3  Q1005682         city  0.432651
4  Q1005682      hamburg  2.680185

### Sort terms
Rank terms by total weight (descending)

In [9]:
ranking_df = terms_stats_df.groupby('label')\
                .apply(lambda grp: grp.sort_values(by='weight', ascending=False))\
                .reset_index(drop=True)

In [10]:
ranking_df.groupby('label').head()

         label         term    weight
0     Q1005682       carver  3.252445
1     Q1005682      hamburg  2.680185
2     Q1005682    minnesota  2.503608
3     Q1005682       states  0.913663
4     Q1005682          513  0.877568
...        ...          ...       ...
4699   Q998718      fremont  1.838321
4700   Q998718      hamburg  1.730658
4701   Q998718         iowa  1.240331
4702   Q998718  nishnabotna  1.156465
4703   Q998718       rivers  0.783508

[957 rows x 3 columns]

---

## Save ranking

In [11]:
ranking_filename = f'ranking_wikidata_nn_tfidf_{version}.xlsx'
ranking_filepath = os.path.join(root_dir, data_dir, ranking_filename)

In [12]:
ranking_filepath

'../../data/terms/ranking_wikidata_nn_tfidf_v2.xlsx'

In [13]:
ranking_df.to_excel(ranking_filepath)

---