In [1]:
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
data = '../../data/alaska_corpus.xlsx'

In [5]:
A = pd.read_excel(data, index_col=0)

In [6]:
A.head()

   doc_id                                          chunk_doc      label
0       0  nikon_d3200_dslr_camera 18_55mm 55_200mm_lense...  ENTITY#44
1       1  nikon_d3200 18-55/3 5-5 6 55-200/4 0-5 6 new_z...  ENTITY#44
2       2  nikon_d3200 digital_dslr_camera w 18 55mm 55 2...  ENTITY#44
3       3  nikon_d3200_digital_dslr_camera 24 1 w 18 55mm...  ENTITY#44
4       4  nikon_d3200 body_price india bangalore hyderab...  ENTITY#44

In [20]:
from collections import defaultdict
from sklearn.feature_extraction.text import TfidfVectorizer

In [16]:
pseudo_docs = defaultdict(lambda: "")
for i, doc in A.iterrows():
    pseudo_docs[doc.label] += " " + doc.chunk_doc

In [18]:
entities = list(pseudo_docs.keys())
pdocs = [pseudo_docs[k] for k in entities]

In [38]:
vectorizer = TfidfVectorizer(min_df=1)
X = vectorizer.fit_transform(pdocs).toarray()

In [39]:
ranking = {}
features = vectorizer.get_feature_names()
for i, entity in enumerate(entities):
    rank = [(features[i], x) for i, x in sorted(enumerate(X[i]), key=lambda z: -z[1])]
    ranking[entity] = rank

In [40]:
for entity in entities:
    print(entity)
    for word, w in ranking[entity][:5]:
        print(word, round(w, 2))
    print()

ENTITY#44
d3200 0.67
nikon_d3200 0.36
18 0.31
nikon 0.3
24_2_mp_digital_slr_camera_black_kit 0.21

ENTITY#23
canon_eos_7d 0.78
013803117493 0.32
013803117493_ebay 0.31
18 0.29
mp_digital_slr_camera_black_body 0.17

ENTITY#18
canon_eos_60d 0.49
60d 0.47
canon 0.32
eos 0.31
18 0.31

ENTITY#36
nikon_d3100 0.74
14_2_mp_digital_slr_camera_black_kit 0.26
18 0.25
dx_vr 0.25
d3100 0.23

ENTITY#41
18 0.46
d5200 0.45
nikon_d5200 0.31
24_1_mp_digital_slr_camera_black_kit 0.28
nikon 0.22

ENTITY#21
d5100 0.66
16 0.37
018208254781 0.35
nikon 0.25
18 0.19

ENTITY#75
d7000 0.74
nikon 0.32
16 0.3
018208254682 0.27
nikon_d7000 0.19

ENTITY#96
70d 0.52
canon 0.35
eos 0.32
013803221596 0.32
18 0.23

ENTITY#6
018208015191 0.54
18 0.41
nikon_d5300 0.36
nikon_d5300_kit 0.24
ebay 0.21

ENTITY#101
canon_eos 0.6
5d_mark_iii 0.55
22_3_mp_digital_slr_camera_black_body 0.26
ebay 0.25
5d_mark 0.19

ENTITY#102
canon_eos_5d 0.61
mark 0.58
ii 0.36
013803105384_ebay 0.22
21_1_mp_digital_slr_camera_black_body 0.2

ENTITY#16
nikon_d90 0.8
018208254460 0.39
12_3_mp_digital_slr_camera_black_body 0.21
ebay 0.18
12_3_mp_digital_slr_camera_black_kit 0.17

ENTITY#57
018208254804 0.68
nikon_d800 0.57
36_3_mp_digital_slr_camera_black_body 0.33
ebay 0.21
d800 0.12

ENTITY#76
d610 0.61
018208015405 0.38
nikon 0.26
018208015405_ebay 0.26
24_3_mp_cmos_fx 0.24

ENTITY#19
nikon_d3300 0.52
18 0.37
018208015320 0.3
018208015320_ebay 0.28
d3300 0.26

ENTITY#58
10 0.63
j1 0.52
nikon 0.3
1_mp_digital_camera_white_kit 0.22
30mm 0.21

ENTITY#37
nikon_d80 0.8
018208254125_ebay 0.33
018208254125 0.27
10_2_mp_digital_slr_camera_black_body 0.22
ebay 0.16

ENTITY#84
nikon_d300 0.88
12_3_mp_digital_slr_camera_black_body 0.28
ebay 0.23
018208094813_ebay 0.1
12_3_mp_digital_slr_camera 0.09

ENTITY#8
1_j3 0.51
10 0.39
14 0.37
nikon 0.31
018208276387 0.24

ENTITY#7
olympus_om 0.68
d_e 0.5
m5 0.23
14 0.15
12 0.14