# Build TF-IDF based baseline

In [1]:
import os
import numpy as np
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
version = 'v2'

In [3]:
root_dir = '../..'
data_dir = 'data'
corpus_dir = 'corpus'
terms_dir = 'terms'
filename = f'wikidata_corpus_{version}.xlsx'
filepath = os.path.join(root_dir, data_dir, corpus_dir, filename)

In [4]:
#A = pd.read_excel(data, index_col=0)
A = pd.read_excel(filepath, index_col=0)

In [5]:
A.head()

   doc_id                                          chunk_doc  label
0       0                      stockholm city capital sweden  Q1754
1       1                   stockholm capital capital sweden  Q1754
2       2  sthlm city city stretches across fourteen_isla...  Q1754
3       3  sthlm capital city stretches across fourteen_i...  Q1754
4       4  stockholm big city hosts annual nobel prize ce...  Q1754

Split noun chunks into single terms

In [6]:
A['chunk_doc'] = A['chunk_doc'].map(lambda x: ' '.join(x.split('_')))
A.head()

   doc_id                                          chunk_doc  label
0       0                      stockholm city capital sweden  Q1754
1       1                   stockholm capital capital sweden  Q1754
2       2  sthlm city city stretches across fourteen isla...  Q1754
3       3  sthlm capital city stretches across fourteen i...  Q1754
4       4  stockholm big city hosts annual nobel prize ce...  Q1754

In [7]:
from collections import defaultdict
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
pseudo_docs = defaultdict(lambda: "")
for i, doc in A.iterrows():
    pseudo_docs[doc.label] += " " + doc.chunk_doc

In [9]:
entities = list(pseudo_docs.keys())
pdocs = [pseudo_docs[k] for k in entities]

In [10]:
vectorizer = TfidfVectorizer(min_df=1)
X = vectorizer.fit_transform(pdocs).toarray()

In [11]:
ranking = {}
features = vectorizer.get_feature_names()
for i, entity in enumerate(entities):
    rank = [(features[i], x) for i, x in sorted(enumerate(X[i]), key=lambda z: -z[1])]
    ranking[entity] = rank

In [12]:
for entity in entities:
    print(entity)
    for word, w in ranking[entity][:5]:
        print(word, round(w, 2))
    print()

Q1754
stockholm 0.56
sthlm 0.36
city 0.31
sweden 0.26
arena 0.17

Q1787199
stockholm 0.53
town 0.4
dakota 0.4
states 0.34
united 0.34

Q976601
wisconsin 0.71
village 0.5
stockholm 0.4
pepin 0.17
66 0.12

Q1484620
asteroid 0.64
stockholm 0.58
10552 0.5
00 0.0
000 0.0

Q3447382
stockholm 0.54
maine 0.52
town 0.41
states 0.29
united 0.29

Q30599096
film 0.65
stockholm 0.4
april 0.2
2018 0.19
budreau 0.13

Q906
čelâbinsk 0.55
russia 0.34
city 0.28
chelyabinsk 0.27
ural 0.2

Q1482450
chelyabinsk 0.58
asteroid 0.53
21088 0.3
1992 0.19
belgian 0.11

Q5714
oblast 0.81
russia 0.4
chelyabinsk 0.33
chelyabinskaya 0.08
subject 0.08

Q1777988
university 0.75
ural 0.33
state 0.26
chelyabinsk 0.21
south 0.19

Q4661508
meteor 0.55
earth 0.42
near 0.37
asteroid 0.28
chelyabinsk 0.25

Q2332010
time 0.69
zone 0.38
yekaterinburg 0.31
utc 0.27
ahead 0.19

Q600277
tractor 0.5
plant 0.42
chelyabinsk 0.39
чтз 0.3
russian 0.21

Q894
samara 0.67
russia 0.32
city 0.29
town 0.27
volga 0.19

Q475697
fruit 0.53
type 0.42
samara 0.34
wing 0.25
dry 0.17

Q1067027
26922 0.63
asteroid 0.59
samara 0.51
00 0.0
000 0.0

Q3946386
given 0.56
samara 0.48
female 0.47
name 0.43
god 0.08

Q3438102
nicoya 0.47
sámara 0.43
costa 0.4
rica 0.4
guanacaste 0.3

Q6779
utc 0.63
offset 0.44
time 0.42
zone 0.3
04 0.24

Q3130
sydney 0.65
wales 0.35
australia 0.27
city 0.24
new 0.24

Q932261
sydney 0.53
nova 0.45
scotia 0.45
breton 0.22
cape 0.2

Q18915128
unisex 0.58
given 0.57
name 0.4
sydney 0.38
characters 0.12

Q1075639
division 0.67
australian 0.44
sydney 0.37
representatives 0.26
house 0.25

Q383502
asteroid 0.66
sydney 0.64
15550 0.39
00 0.0
000 0.0

Q5356001
sydney 0.47
electoral 0.41
wales 0.36
district 0.29
new 0.25

Q1055
hamburg 0.45
burger 0.41
germany 0.34
may 0.18
beef 0.17

Q79657
hamburg 0.54
arkansas 0.51
states 0.32
united 0.32
ashley 0.25

Q998718
hamburg 0.49
iowa 0.43
states 0.32
united 0.32
missouri 0.28

Q742785
hamburg 0.54
town 0.48
states 0.32
united 0.32
york 0.32

Q1005682
minnesota 0.49
hamburg 0.49
carver 0.39
states 0.37
united 0.37

Q1082931
jersey 0.49
hamburg 0.49
borough 0.44
new 0.3
hardyston 0.19

Q1181264
pennsylvania 0.72
borough 0.51
hamburg 0.38
berks 0.19
county 0.09

Q220
rome 0.47
city 0.36
italy 0.35
comune 0.22
roman 0.2

Q17167
republic 0.39
roman 0.32
bc 0.29
period 0.26
civil 0.21

Q6580
rome 0.61
georgia 0.52
county 0.15
states 0.13
united 0.13

Q6586
rome 0.57
york 0.42
new 0.3
states 0.26
united 0.26

Q209878
series 0.66
television 0.43
rome 0.39
roma 0.22
tv 0.13

Q1925709
rome 0.54
iowa 0.52
states 0.4
united 0.4
city 0.23

Q1486
buenos 0.61
aires 0.51
city 0.22
autonomous 0.21
argentina 0.19

Q44754
province 0.59
aires 0.43
buenos 0.43
argentina 0.4
electoral 0.15

Q2101554
brazil 0.48
pernambuco 0.48
aires 0.4
buenos 0.4
municipality 0.33

Q2025478
cauca 0.44
colombia 0.44
aires 0.41
buenos 0.41
municipality 0.39

Q2669006
canton 0.55
costa 0.43
rica 0.43
aires 0.36
buenos 0.36

Q1181355
asteroid 0.62
aires 0.47
buenos 0.47
7850 0.42
00 0.0

Q10127
tangerang 0.59
square 0.22
city 0.22
indonesia 0.22
banten 0.17

Q10123
regency 0.76
indonesia 0.37
tangerang 0.32
ahmed 0.13
iskandar 0.13

Q3659306
tangerang 0.65
indonesia 0.43
kecamatan 0.28
subdivision 0.23
banten 0.23

Q12487146
railway 0.69
line 0.41
duri 0.37
tangerang 0.35
indonesia 0.12

Q15051586
station 0.62
railway 0.56
tangerang 0.48
commuters 0.09
going 0.09

Q7682892
club 0.52
football 0.49
tangerang 0.46
wolves 0.41
association 0.2

Q172
toronto 0.48
canada 0.41
ontario 0.29
city 0.22
tier 0.19

Q736775
ohio 0.65
toronto 0.42
states 0.3
united 0.3
jefferson 0.27

Q389974
asteroid 0.74
toronto 0.52
2104 0.22
karl 0.15
observatory 0.13

Q1013097
iowa 0.59
toronto 0.52
clinton 0.38
states 0.19
united 0.19

Q2666611
toronto 0.53
kansas 0.48
woodson 0.33
states 0.29
united 0.29

Q2688228
dakota 0.53
toronto 0.52
town 0.35
states 0.3
united 0.3

Q1461
manila 0.73
city 0.37
philippines 0.17
urbanized 0.16
capital 0.14

Q79626
manila 0.52
arkansas 0.5
states 0.28
united 0.28
city 0.28

Q129960
utah 0.42
flaming 0.31
gorge 0.31
town 0.31
manila 0.3

Q6645392
humboldt 0.43
designated 0.41
manila 0.41
place 0.41
census 0.27

Q19625339
13513 0.62
asteroid 0.59
manila 0.48
manille 0.21
00 0.0

Q6797461
philippine 0.53
television 0.41
maynila 0.36
series 0.34
anthology 0.23

Q36312
calgary 0.62
alberta 0.34
city 0.3
canada 0.26
edmonton 0.14

Q971268
asteroid 0.67
calgary 0.57
96192 0.48
00 0.0
000 0.0

Q5019595
hamlet 0.64
calgary 0.52
mull 0.33
argyll 0.19
bute 0.19

Q5019630
alberta 0.53
provincial 0.42
calgary 0.39
electoral 0.36
district 0.31

Q9658
winter 0.6
games 0.38
1988 0.32
olympics 0.32
olympic 0.3

Q2933906
canada 0.49
electoral 0.47
calgary 0.47
federal 0.45
district 0.34

Q1352
chennai 0.54
city 0.39
madras 0.27
indian 0.26
tamil 0.25

Q502670
airport 0.71
chennai 0.48
international 0.31
india 0.23
aerodrome 0.11

Q15116
district 0.63
chennai 0.55
india 0.35
nadu 0.13
tamil 0.13

Q1364464
university 0.66
madras 0.37
public 0.3
india 0.22
18 0.12

Q1292535
team 0.48
super 0.42
sports 0.35
kings 0.34
chennai 0.33

Q257382
railway 0.57
station 0.57
chennai 0.37
central 0.26
terminus 0.16

Q270
warsaw 0.55
city 0.39
capital 0.32
powiat 0.24
rights 0.24

Q992560
warsaw 0.65
indiana 0.4
states 0.33
united 0.33
559 0.26

Q1919763
kentucky 0.52
warsaw 0.47
city 0.3
gallatin 0.24
county 0.24

Q576165
warsaw 0.54
illinois 0.36
states 0.27
united 0.27
city 0.23

Q967161
warsaw 0.55
missouri 0.41
states 0.37
united 0.37
127 0.33

Q1376135
warsaw 0.55
town 0.43
states 0.37
united 0.37
virginia 0.3

Q7970879
warsaw 0.54
town 0.44
york 0.36
new 0.26
wyoming 0.26

Q3805
amman 0.86
jordan 0.26
city 0.25
capital 0.23
inhabitants 0.19

Q116240
amman 0.47
human 0.37
jost 0.36
1591 0.2
drawings 0.17

Q1200549
devi 0.56
mariamman 0.42
goddess 0.28
mother 0.26
indian 0.23

Q115787
amman 0.47
johann 0.36
petersburg 0.26
human 0.21
st 0.21

Q16479584
amman 0.65
family 0.39
name 0.26
botanist 0.2
swiss 0.2

Q4747127
building 0.72
amman 0.43
1987 0.22
register 0.22
listed 0.2

Q3711
belgrade 0.62
serbia 0.49
београд 0.14
capital 0.14
serbian 0.13

Q815570
belgrade 0.67
states 0.22
united 0.22
railroad 0.22
bozeman 0.2

Q581832
belgrade 0.63
minnesota 0.36
states 0.34
united 0.34
stearns 0.28

Q2301099
belgrade 0.73
town 0.33
maine 0.23
states 0.22
united 0.22

Q2745909
village 0.54
nebraska 0.51
belgrade 0.41
nance 0.35
states 0.22

Q3476260
unincorporated 0.44
community 0.42
missouri 0.36
belgrade 0.27
miles 0.24

Q2868
lima 0.56
kings 0.34
city 0.31
capital 0.3
peru 0.3

Q9927
letter 0.64
consonant 0.32
el 0.28
latin 0.26
alphabet 0.25

Q983974
lima 0.6
ohio 0.5
states 0.2
united 0.2
city 0.18

Q3031413
lima 0.79
peru 0.4
district 0.24
province 0.17
cercado 0.09

Q11255517
lima 0.74
born 0.35
brazilian 0.28
family 0.2
name 0.13

Q1142219
airport 0.59
chávez 0.37
jorge 0.37
international 0.29
spjc 0.2

Q374365
jeddah 0.62
governorate 0.35
arabia 0.33
saudi 0.33
city 0.22

Q6172687
horse 0.61
jeddah 0.48
1895 0.15
1897 0.15
1899 0.15

Q737945
skyscraper 0.53
jeddah 0.48
tower 0.45
saudi 0.22
construction 0.18

Q1151131
lighthouse 0.71
jeddah 0.48
light 0.33
arabia 0.13
saudi 0.12

Q722557
club 0.74
association 0.45
football 0.43
jeddah 0.26
00 0.0

Q2267106
port 0.77
jeddah 0.38
islamic 0.26
saudi 0.25
arabia 0.22

Q376749
chittagong 0.45
city 0.37
bangladesh 0.34
southwestern 0.27
situated 0.21

Q5102380
film 0.68
chittagong 0.47
2012 0.23
bedabrata 0.13
box 0.13

Q5642461
bangladesh 0.6
thana 0.51
halishahar 0.43
chittagong 0.31
housing 0.16

Q158087
division 0.77
bangladesh 0.53
chattogram 0.21
chittagong 0.19
bazar 0.06

Q1074991
district 0.66
bangladesh 0.52
chittagong 0.4
chattogram 0.24
division 0.14

Q7895267
university 0.66
chittagong 0.39
research 0.33
public 0.33
hathazari 0.12

Q1874
odessa 0.57
ukraine 0.49
hromada 0.24
amalgamated 0.22
оде 0.21

Q128361
odessa 0.58
texas 0.5
ector 0.28
county 0.26
states 0.23

Q159658
secret 0.59
society 0.55
odessa 0.46
nazi 0.26
network 0.2

Q754420
odessa 0.46
town 0.39
states 0.25
united 0.25
century 0.25

Q149681
asteroid 0.63
odessa 0.44
2606 0.37
crimean 0.16
1976 0.13

Q2228947
odessa 0.59
minnesota 0.53
states 0.32
united 0.32
city 0.27

Q34600
kyōto 0.38
kyoto 0.33
city 0.28
ordinance 0.26
japan 0.23

Q153721
asteroid 0.61
kyoto 0.58
4352 0.54
00 0.0
000 0.0

Q120730
prefecture 0.78
japan 0.37
kyoto 0.27
kyōto 0.17
fu 0.16

Q336264
university 0.76
kyoto 0.37
national 0.23
japan 0.22
top 0.14

Q55616335
album 0.6
studio 0.45
kyoto 0.41
tyga 0.18
24hrs 0.13

Q25217466
kyoto 0.59
single 0.55
lean 0.31
yung 0.26
production 0.13

Q3692
riyadh 0.64
capital 0.26
ibn 0.2
saudi 0.2
ar 0.19

Q1249255
region 0.69
riyadh 0.39
arabia 0.35
saudi 0.35
province 0.16

Q1752043
university 0.69
saud 0.32
king 0.3
riyadh 0.25
arabia 0.17

Q4118886
university 0.43
bint 0.36
princess 0.31
abdul 0.26
nora 0.26

Q3855748
metro 0.49
riyadh 0.43
proposed 0.28
entity 0.26
rapid 0.19

Q56017387
eprix 0.44
diriyah 0.39
recurring 0.34
sporting 0.34
event 0.29

Q5112
adelaide 0.74
city 0.25
australia 0.2
south 0.13
diversity 0.13

Q354633
given 0.49
adelaide 0.44
name 0.42
female 0.39
heidi 0.19

Q1094063
adelaide 0.66
australia 0.38
local 0.35
government 0.33
south 0.22

Q487990
525 0.5
asteroid 0.48
adelaide 0.39
1930 0.17
arend 0.17

Q5355018
adelaide 0.53
electoral 0.51
district 0.37
south 0.29
australia 0.26

Q2973361
division 0.39
adelaide 0.39
road 0.37
australian 0.3
representatives 0.21

Q48278
medellín 0.48
colombia 0.45
department 0.31
city 0.29
antioquia 0.28

Q63166816
song 0.48
medellín 0.47
madonna 0.38
maluma 0.29
single 0.25

Q28465089
team 0.58
uci 0.45
continental 0.41
medellín 0.35
cycling 0.28

Q668384
spain 0.68
medellín 0.4
medellin 0.29
municipality 0.28
badajoz 0.16

Q6008533
medellín 0.62
de 0.32
veracruz 0.29
human 0.29
settlement 0.27

Q22713116
asteroid 0.62
medellín 0.6
366272 0.5
00 0.0
000 0.0

Q570937
ordos 0.43
city 0.3
prefecture 0.3
level 0.29
ěrduōsī 0.27

Q1670841
desert 0.82
ordos 0.34
china 0.13
region 0.12
steppe 0.1

Q127455
culture 0.74
archaeological 0.39
ordos 0.34
2nd 0.13
bce 0.13

Q3538450
airport 0.56
ejin 0.43
horo 0.43
ordos 0.3
zbds 0.15

Q621143
ordos 0.6
plateau 0.44
geographic 0.36
region 0.26
gaoyuan 0.16

Q1825597
track 0.46
racing 0.44
auto 0.35
circuit 0.35
ordos 0.27

Q3766
damascus 0.43
jasmine 0.43
city 0.4
sham 0.35
syria 0.3

Q2199224
georgia 0.74
damascus 0.5
early 0.24
municipality 0.2
county 0.16

Q1374077
damascus 0.48
town 0.36
bristol 0.33
states 0.31
united 0.31

Q754122
designated 0.53
place 0.53
damascus 0.4
maryland 0.31
census 0.3

Q3476539
oregon 0.66
damascus 0.35
2016 0.26
disincorporated 0.15
legislature 0.15

Q1955496
damascus 0.61
human 0.48
settlement 0.45
america 0.19
states 0.16

Q26590
juárez 0.67
ciudad 0.48
paso 0.19
border 0.17
city 0.15

Q2557122
municipality 0.57
juárez 0.47
mexico 0.44
chihuahua 0.2
004 0.11

Q1643457
juárez 0.56
municipality 0.5
mexico 0.43
town 0.11
162 0.11

Q41662326
juárez 0.67
born 0.43
mexican 0.29
argentine 0.22
surname 0.2

Q3846448
mexico 0.56
municipality 0.53
hidalgo 0.36
juárez 0.35
1820 0.19

Q5816925
station 0.57
guadalajara 0.44
juarez 0.37
light 0.23
underground 0.22

Q4033577
taxon 0.5
agra 0.39
adult 0.19
beetles 0.19
predators 0.19

Q39852
comune 0.64
italy 0.47
agra 0.44
lombardy 0.22
varese 0.22

Q2827127
agra 0.59
kansas 0.5
states 0.32
united 0.32
city 0.27

Q519558
maria 0.42
agra 0.4
fátima 0.39
de 0.28
paraíba 0.26

Q370523
agra 0.61
town 0.48
states 0.31
united 0.31
oklahoma 0.29

Q1849321
airport 0.45
agra 0.45
enclave 0.25
force 0.22
civil 0.22

Q3561
algiers 0.51
alger 0.5
city 0.41
algeria 0.4
capital 0.29

Q141026
province 0.58
algeria 0.52
algiers 0.38
alger 0.23
french 0.12

Q1414527
film 0.71
algiers 0.44
french 0.15
hiding 0.14
1938 0.14

Q4724224
orleans 0.47
algiers 0.46
community 0.38
neighborhood 0.34
new 0.26

Q20012828
musical 0.53
algiers 0.48
group 0.31
band 0.19
concept 0.13

Q4724226
album 0.68
algiers 0.45
calexico 0.36
americana 0.16
indie 0.16

Q8573
sun 0.51
human 0.41
sen 0.31
yat 0.31
revolutionary 0.27

Q59223
zhongshan 0.72
prefecture 0.26
level 0.25
city 0.23
china 0.22

Q271167
zhongshan 0.58
district 0.44
sun 0.37
taipei 0.27
taiwan 0.27

Q699591
chinese 0.32
kun 0.31
cao 0.25
1862 0.19
served 0.19

Q10887841
yu 0.58
yue 0.46
human 0.29
chinese 0.2
philosopher 0.18

Q10929492
china 0.49
chengguan 0.45
town 0.35
qinghai 0.33
huangyuan 0.18

Q3624
addis 0.62
ababa 0.38
ethiopia 0.29
capital 0.23
city 0.21

Q1238770
university 0.67
ababa 0.42
addis 0.42
aau 0.31
ethiopian 0.11

Q44923
airport 0.6
international 0.36
ababa 0.35
addis 0.35
bole 0.34

Q352962
stadium 0.76
football 0.35
ababa 0.31
addis 0.31
association 0.24

Q20982403
railway 0.66
djibouti 0.47
ababa 0.28
addis 0.28
line 0.26

Q16250141
rail 0.61
light 0.58
ababa 0.3
addis 0.3
railways 0.13

Q200713
aurangabad 0.73
maharashtra 0.42
city 0.25
hyderabad 0.15
delhi 0.14

Q590550
aurangabad 0.57
human 0.35
settlement 0.33
102 0.29
244 0.29

Q2903059
airport 0.61
aurangabad 0.5
india 0.24
vaau 0.2
aerodrome 0.17

Q4822111
lok 0.57
sabha 0.57
constituency 0.43
aurangabad 0.24
bihar 0.15

Q1924611
aurangabad 0.44
murshidabad 0.32
bengal 0.3
town 0.28
cd 0.25

Q584916
aurangabad 0.57
human 0.45
settlement 0.42
nagar 0.22
panchayat 0.22

Q34932
brisbane 0.69
queensland 0.46
city 0.28
australia 0.27
capital 0.12

Q917671
brisbane 0.57
san 0.39
francisco 0.24
california 0.22
city 0.22

Q917665
division 0.68
australian 0.42
brisbane 0.39
representatives 0.25
house 0.23

Q647093
asteroid 0.66
brisbane 0.58
5277 0.49
00 0.0
000 0.0

Q4968562
wales 0.54
brisbane 0.42
new 0.37
south 0.35
county 0.35

Q917658
crater 0.75
impact 0.43
brisbane 0.33
lunar 0.26
circular 0.06

---
## Save ranking to a file

In [13]:
df_list = []
for entity, terms_tfidf in ranking.items():
    df_list.append(pd.DataFrame({'label': [entity]*len(terms_tfidf), 
                                 'term': [term for term, _ in terms_tfidf]}))

In [14]:
df = pd.concat(df_list, axis=0)
df.head()

   label       term
0  Q1754  stockholm
1  Q1754      sthlm
2  Q1754       city
3  Q1754     sweden
4  Q1754      arena

In [15]:
df.shape

(842790, 2)

In [16]:
ranking_filename = f'ranking_wikidata_baseline_{version}_single_terms.xlsx'
ranking_filepath = os.path.join(root_dir, data_dir, terms_dir, ranking_filename)

In [17]:
ranking_filepath

'../../data/terms/ranking_wikidata_baseline_v2_single_terms.xlsx'

In [ ]:
df.to_excel(ranking_filepath)

---