# Process terms 
Process terms retrieved from the neural network model using LIME

---

## Load the retrieved terms

In [3]:
import os

In [4]:
root_dir = '../..'
data_dir = 'data/terms'
filename = 'relevant_terms_nn.csv'
filepath = os.path.join(root_dir, data_dir, filename)

In [5]:
import pandas as pd

In [6]:
terms_df = pd.read_csv(filepath)

In [7]:
terms_df.head()

       label                     term    weight  data_id
0  ENTITY#44  nikon_d3200_dslr_camera  0.221665        0
1  ENTITY#44          55_200mm_lenses  0.197231        0
2  ENTITY#44                  18_55mm  0.115510        0
3  ENTITY#44               black_ebay  0.102250        0
4  ENTITY#44              nikon_d3200  0.571242        1

## Rank terms

### Add ranking column
Add a ranking column by sorting each document's terms by their LIME weight in descending order

In [11]:
terms_df['rank'] = terms_df.groupby(['label', 'data_id'])['weight'].rank(ascending=False)

In [13]:
terms_df.head(10)

       label                     term    weight  data_id  rank
0  ENTITY#44  nikon_d3200_dslr_camera  0.221665        0   1.0
1  ENTITY#44          55_200mm_lenses  0.197231        0   2.0
2  ENTITY#44                  18_55mm  0.115510        0   3.0
3  ENTITY#44               black_ebay  0.102250        0   4.0
4  ENTITY#44              nikon_d3200  0.571242        1   1.0
5  ENTITY#44       new_zealand_prices  0.140199        1   2.0
6  ENTITY#44                        6  0.051877        1   3.0
7  ENTITY#44                      0-5  0.037021        1   4.0
8  ENTITY#44              nikon_d3200  0.353732        2   1.0
9  ENTITY#44           200mm_lens_bag  0.125334        2   2.0

### Aggregate LIME weight values (sum) and rankings (mean)

In [30]:
new_terms_df = terms_df.groupby(['label', 'term']).agg({'weight': 'sum','rank': 'mean'}).reset_index()

In [31]:
new_terms_df.head()

        label                                         term     weight  rank
0  ENTITY#101                                          3mp   0.046001   3.0
1  ENTITY#101                                           5d   1.673307   1.6
2  ENTITY#101                                      5d_mark  10.450083   1.0
3  ENTITY#101                                  5d_mark_iii  37.700795   1.0
4  ENTITY#101  5d_mark_iii_black_slr_digital_camera_kit_w/   1.670841   1.0

In [36]:
new_terms_df.groupby('label').get_group('ENTITY#101').sort_values(by=['rank', 'weight'], ascending=[True, False])['term'][:3]

3                                  5d_mark_iii
2                                      5d_mark
20    canon_eos_5d_mark_iii_22_3_mp_full_frame
Name: term, dtype: object